* {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: "Liberation Sans", "Arial", "Helvetica", sans-serif;
    padding: 0;
    margin: 0;
}

button {
    background-color: #007f7fbf;
    font-size: 16pt;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 300;
    outline: none;
}

#moore-newman,
#zoom,
.cblabel,
.cbblock,
.cbblock p {
    display: inline-block;
}

.cblabel,
.cbblock {
    font-family: "Liberation Mono", monospace;
}

#extended-newman,
#extcheck {
    display: none;
}

.menu {
    font-size: 5em;
    margin: 10%;
}

button.menu {
    margin: 0;
    font-size: 16pt;
    cursor: pointer;
    border-radius: 32px;
}

@media only screen and (min-width: 1000px) {
    #info {
        margin: 5% 20%;
    }
}

@media only screen and (max-width: 1000px) {
    #info {
        margin: 10% 20%;
    }
}

@media only screen and (max-width: 800px) {
    #info {
        margin: 15% 20%;
    }
    .cbblock {
        margin: 0 10%;
    }
    button.menu {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 600px) {
    #info {
        margin: 20% 20%;
    }
    button.menu {
        font-size: 12pt;
    }
}

#speed,
#gamefield {
    width: 50%;
}

nav {
    margin: 0 10%;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2% 0;
    width: 100%;
    text-align: center;
    background-color: #0000007f;
}

footer.big {
    padding: 0;
}

footer p {
    background-color: #00000000;
}