* {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: "Liberation Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16pt;
    padding: 0;
    margin: 0;
}

#control *,
#config * {
    font-size: 12pt;
}

button,
a.menu {
    background-color: #007f7fbf;
    font-size: 16pt;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 300;
    outline: none;
}

#moore-newman,
#zoom,
.cblabel,
.cbblock,
.cbblock p {
    display: inline-block;
}

.cblabel,
.cbblock {
    font-family: "Liberation Mono", monospace;
}

#extended-newman,
#extcheck {
    display: none;
}

.menu {
    margin: 5%;
}

a.menu {
    display: block;
    margin: 1%;
    cursor: pointer;
    border-radius: 32px;
    width: 33%;
    text-decoration: none;
    position: static;
}

#hiddenbreak {
    display: none;
}

@media only screen and (min-width: 1200px) {
    #info {
        margin: 5% 20%;
    }
    a.menu {
        font-size: 16pt;
    }
    #splash a.menu,
    h1.menu {
        font-size: 5em;
    }
}

@media only screen and (max-width: 1200px) {
    #info {
        margin: 5% 20%;
    }
    #splash a.menu,
    h1.menu {
        font-size: 4em;
    }
}

@media only screen and (max-width: 1000px) {
    #info {
        margin: 10% 20%;
    }
    a.menu {
        font-size: 14pt;
    }
    #splash a.menu,
    h1.menu {
        font-size: 3em;
    }
}

@media only screen and (max-width: 800px) {
    #info {
        margin: 15% 20%;
    }
    a.menu {
        font-size: 10pt;
    }
    #splash a.menu,
    h1.menu {
        font-size: 2em;
    }
    .cbblock {
        margin: 0 10%;
    }
    #hiddenbreak {
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    #info {
        margin: 20% 20%;
    }
    a.menu {
        font-size: 8pt;
    }
    #splash a.menu,
    h1.menu {
        font-size: 1em;
    }
}

#speed,
#gamefield {
    width: 50%;
}

nav {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2% 0;
    width: 100%;
    text-align: center;
    background-color: #0000007f;
}

footer.big,
footer.big p {
    padding: 0;
    font-size: 12pt;
}

footer p {
    background-color: #00000000;
}